* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 72px;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-weight: bold;
  text-align: center;
}
h2 i {
  margin-right: 15px;
  color: #575b5e;
}

.underline {
  margin: 0 auto 40px;
  width: 100px;
  height: 4px;
  background-color: #0d6efd;
  border-radius: 4px;
}

.wrapper {
  max-width: 992px;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
}
.wrapper p {
  margin-bottom: 0;
}

.list-group .form-check-input {
  min-width: 15px;
  min-height: 15px;
  border: 1px solid #0d6efd;
}

.favorite-wrapper {
  position: relative;
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}
.favorite-wrapper .add-to-favorite {
  position: absolute;
  right: 0;
  color: #575b5e;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.favorite-wrapper .add-to-favorite:hover {
  color: #0d6efd;
}

.navbar-expand-md {
  background-color: #212529;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.navbar a {
  color: white;
  transition: color 0.3s;
}
.navbar a:hover {
  color: #0d6efd;
}
.navbar .navbar-brand {
  font-weight: bold;
  transition: color 0.3s;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.navbar .navbar-brand i,
.navbar .navbar-brand span {
  color: #0d6efd;
}
.navbar .nav-link {
  text-transform: uppercase;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler .fa-bars {
  color: white;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../img/header-small.jpg);
  background-size: cover;
  background-position: 75%;
  z-index: 0;
}
.header .header-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -5;
}
.header .header-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.header .header-text h1 {
  padding: 10px;
  font-weight: bold;
}
.header .header-text h1 span {
  color: #0d6efd;
}
.header button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-size: 26px;
  transform: translateX(-50%);
  color: white;
  background: none;
  border: none;
  transition: color 0.3s;
}
.header button:hover {
  color: #0d6efd;
}

.about .about-text {
  padding: 20px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #212529;
}

@media (width < 768px) {
  body {
    padding-top: 50px;
  }
}
@media (width >= 768px) {
  .navbar {
    position: sticky;
  }
  .header {
    height: 500px;
  }
  .header-text h1 {
    font-size: 36px;
  }
}
@media (width >= 992px) {
  .header {
    background-image: url(../img/header-large.jpg);
  }
}/*# sourceMappingURL=main.css.map */