{% extends "layout.html" %}

{% block title %}
Centor score (McIsaac modified)
{% endblock %}

{% block main %}

<section class="py-5">
    <div class="container">
        <h2><i class="fa-solid fa-list"></i>Centor score (McIsaac modified)</h2>
        <div class="underline"></div>

        <div class="wrapper">
            <p>Estimate the likelihood that the pathogens that caused acute pharyngitis are streptococci.</p>
        </div>

        <div class="wrapper">
            <ul class="list-group rounded-0 mb-3">
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check1" />
                    <label class="form-check-label" for="check1">
                        Body temperature more than 38°C
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check3" />
                    <label class="form-check-label" for="check3">
                        Cough not present
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check4" />
                    <label class="form-check-label" for="check4">
                        Enlarged or swollen anterior cervical lymph nodes
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check7" />
                    <label class="form-check-label" for="check7">
                        Effusion and swelling of the tonsils
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    Age:</li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="1" id="check6" name="age" checked />
                    <label class="form-check-label" for="check6">
                        3 to 14
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="0" id="check6" name="age" />
                    <label class="form-check-label" for="check6">
                        15 to 44
                        <span class="badge rounded-pill text-bg-secondary ms-1">0</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="-1" id="check5" name="age" />
                    <label class="form-check-label" for="check5">
                        45 or more
                        <span class="badge rounded-pill text-bg-secondary ms-1">-1</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="wrapper">
            <p>Score: <span id="score">1</span></p>
            <p>Strep risk: <span id="risk">Low</span></p>
        </div>
        <div class="wrapper">
            <p>Recommendation:</p>
            <p id="recommendation">Symptomatic treatment. Bacteriological diagnosis is unnecessary.</p>
        </div>

        <div class="favorite-wrapper mb-5">
            <a href="/favorite?type=CentorScore" class="add-to-favorite"><i class="fa-solid fa-star"></i> Add
                to favorites</a>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}

<script>
    const riskSpan = document.getElementById("risk");
    const recommendationParagraf = document.getElementById("recommendation");
    const allCheckboxes = [...document.getElementsByClassName("form-check-input")];

    function calculateRisk() {
        // Read number of points (assigned by a function in main.js)
        let calculatedPoints = document.getElementById("score").innerHTML;
        let calculatedRisk = "";
        let recommendation = "";

        // Assign risk and recommendation by the amount of points
        if (calculatedPoints <= 1) {
            calculatedRisk = "Low";
            recommendation =
                "Symptomatic treatment. Bacteriological diagnosis is unnecessary.";
        } else if (calculatedPoints <= 3) {
            calculatedRisk = "Moderate";
            recommendation =
                "Perform a rapid test for the presence of PBHA antigen. If unavailable, order a throat swab culture test. Treatment decision based on outcome.";
        } else {
            calculatedRisk = "High";
            recommendation =
                "a) If symptoms are severe, prescribe an antibiotic.<br>b) If symptoms are mild, do a PBHA rapid test. If unavailable, order a throat swab culture test. Treatment decision based on outcome.";
        }
        riskSpan.innerHTML = calculatedRisk;
        recommendationParagraf.innerHTML = recommendation;
    }
    
    // Run the function whenever one of the values is changed
    allCheckboxes.forEach(function (checkbox) {
        checkbox.addEventListener("change", calculateRisk);
    });
</script>

{% endblock %}