{% extends "layout.html" %}

{% block title %}
CHA2DS2-VASc score
{% endblock %}

{% block main %}

<section class="py-5">
    <div class="container">
        <h2><i class="fa-solid fa-list"></i>CHA<sub>2</sub>DS<sub>2</sub>-VASc score</h2>
        <div class="underline"></div>

        <div class="wrapper">
            <p>Assess the risk of stroke complications for a patient with artial fibrillation.</p>
        </div>

        <div class="wrapper">
            <ul class="list-group rounded-0 mb-3">
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check1" />
                    <label class="form-check-label" for="check1">
                        Congestive heart failure / Left ventricular dysfunction history
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check2" />
                    <label class="form-check-label" for="check2">
                        Hypertension history
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check3" />
                    <label class="form-check-label" for="check3">
                        Diabetes history
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="1" id="check4" />
                    <label class="form-check-label" for="check4">
                        Vascular disease history (Past myocardial infarction, arterial
                        disease or atherosclerotic plaques)
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="checkbox" value="2" id="check7" />
                    <label class="form-check-label" for="check7">
                        Stroke/TIA/thromboembolic event history <span
                            class="badge rounded-pill text-bg-secondary ms-1">+2</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    Sex:</li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="0" id="check6" name="sex" checked />
                    <label class="form-check-label" for="check6">
                        Male
                        <span class="badge rounded-pill text-bg-secondary ms-1">0</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="1" id="check5" name="sex" />
                    <label class="form-check-label" for="check5">
                        Female
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    Age:</li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="0" id="check6" name="age" checked />
                    <label class="form-check-label" for="check6">
                        Less than 65
                        <span class="badge rounded-pill text-bg-secondary ms-1">0</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="1" id="check6" name="age" />
                    <label class="form-check-label" for="check6">
                        65 to 74
                        <span class="badge rounded-pill text-bg-secondary ms-1">+1</span>
                    </label>
                </li>
                <li
                    class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom-0 d-flex align-items-center ps-0">
                    <input class="form-check-input me-3" type="radio" value="2" id="check5" name="age" />
                    <label class="form-check-label" for="check5">
                        75 or more
                        <span class="badge rounded-pill text-bg-secondary ms-1">+2</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="wrapper">
            <p>Score: <span id="score">0</span></p>
            <p>Stroke risk: <span id="risk">Low</span></p>
        </div>
        <div class="wrapper">
            <p>Recommendation:</p>
            <p id="recommendation">No anticoagulant or antiplatelet therapy needed.</p>
        </div>
    </div>
</section>

{% endblock %}

{% block script %}

<script type="text/javascript" src="../static/js/cha2ds2vasc-score.js"></script>

{% endblock %}