{% extends "layout.html" %}

{% block title %}
Ibuprofen dosage
{% endblock %}

{% block main %}

<section class="py-5">
    <div class="container">
        <h2><i class="fa-solid fa-tablets"></i>Ibuprofen dosage</h2>
        <div class="underline"></div>

        <div class="wrapper">
            <p>Calculate the maximum dose of ibuprofen according to the age and weight of the patient.</p>
        </div>

        <div class="wrapper">
            <form action="/ibuprofen-dosage" method="post">
                <div class="form-floating mb-3">
                    <input autofocus type="number" class="form-control" name="age" min="1" value="{{age}}">
                    <label for="age">Age (in years):</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="weight" min="1" value="{{weight}}">
                    <label for="weight">Weight (in kg):</label>
                </div>
                <button class="btn btn-primary" type="submit">Calculate</button>
            </form>
        </div>

        <div class="wrapper">
            <p>Max dosage per day: <span id="max-dosage">{{maxDosage}}</span></p>
        </div>

        <div class="favorite-wrapper mb-3">
            <a href="/favorite?type=IbuprofenDosage" class="add-to-favorite"><i class="fa-solid fa-star"></i> Add to
                favorites</a>
        </div>
    </div>
</section>

{% endblock %}