{% extends "layout.html" %} {% block title %} DoctorCalc - Dosage calculation
and medical scores for doctors {% endblock %} {% block main %}

<section class="header">
	<div class="header-shadow"></div>
	<div class="header-text">
		<h1>Welcome to Doctor<span>Calc</span></h1>
		<p>
			The source of medical calculators and criteria scores for every
			doctor.
		</p>
	</div>
	<a href="#dosage" class="see-more"
		><button title="See more">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-down">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M12 5l0 14" />
				<path d="M18 13l-6 6" />
				<path d="M6 13l6 6" />
			</svg></button
	></a>
</section>

<section id="dosage" class="dosage py-5">
	<div class="container">
		<h2>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="48"
				height="48"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-pills">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M8 8m-5 0a5 5 0 1 0 10 0a5 5 0 1 0 -10 0" />
				<path d="M17 17m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
				<path d="M4.5 4.5l7 7" />
				<path d="M19.5 14.5l-5 5" /></svg
			>Dosage calculation
		</h2>
		<div class="underline"></div>

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Ibuprofen dosage</h5>
						<p class="card-text">
							Calculate the maximum dose of ibuprofen according to
							the age and weight of the patient.
						</p>
						<a href="/ibuprofen-dosage" class="btn btn-primary"
							>Open</a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Paracetamol dosage</h5>
						<p class="card-text">
							Calculate the maximum dose of paracetamol according
							to the age and weight of the patient.
						</p>
						<a href="/paracetamol-dosage" class="btn btn-primary"
							>Open</a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Package calculation</h5>
						<p class="card-text">
							Calculate the number of medicine packages to be
							prescribed based on the dosage.
						</p>
						<a href="package-calculation" class="btn btn-primary"
							>Open</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="criteria" class="criteria py-5">
	<div class="container">
		<h2>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="48"
				height="48"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-list-details">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M13 5h8" />
				<path d="M13 9h5" />
				<path d="M13 15h8" />
				<path d="M13 19h5" />
				<path
					d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
				<path
					d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
			</svg>

			Medical criteria scores
		</h2>
		<div class="underline"></div>

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							CHA<sub>2</sub>DS<sub>2</sub>-VASc score
						</h5>
						<p class="card-text">
							Assess the risk of stroke complications for a
							patient with atrial fibrillation.
						</p>
						<a href="/cha2ds2vasc-score" class="btn btn-primary"
							>Open</a
						>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">
							Centor score (McIsaac modified)
						</h5>
						<p class="card-text">
							Estimate the likelihood that the pathogens that
							caused acute pharyngitis are streptococci.
						</p>
						<a href="/centor-score" class="btn btn-primary">Open</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-3">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Wells score for DVT</h5>
						<p class="card-text">
							Calculate the risk of deep vein thrombosis based on
							patient's clinical criteria.
						</p>
						<a href="/wells-score-dvt" class="btn btn-primary"
							>Open</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section id="about" class="about py-5">
	<div class="container">
		<h2>
			<svg  xmlns="http://www.w3.org/2000/svg"  width="48"  height="48"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-info-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" /><path d="M12 9h.01" /><path d="M11 12h1v4h1" /></svg>
			About DoctorCalc</h2>
		<div class="underline"></div>

		<div class="about-text">
			<p>
				DoctorCalc is a final project for the CS50x course made by Oskar
				Kąklewski from Poland. It is inspired by my wife, who is a
				doctor and needs such utility in her daily work. She also acted
				as my substantive consultant during the app development.
			</p>
			<p>
				The project has been created with the use of such technologies
				as:
			</p>
			<ul>
				<li>HTML5 & CSS3</li>
				<li>JavaScript</li>
				<li>SQL</li>
				<li>SASS</li>
				<li>Bootstrap</li>
				<li>Python & Flask</li>
				<li>Visual Studio Code</li>
			</ul>
			<p>
				All icons are taken from
				<a href="https://fontawesome.com/">Font Awesome</a> and the
				header image from <a href="https://unsplash.com/">Unsplash</a>.
			</p>
		</div>
	</div>
</section> -->

{% endblock %}
