{% extends "layout.html" %} {% block title %} Wells score for DVT {% endblock %}
{% block main %}

<section class="py-5">
	<div class="container">
		<h2 class="pageH2">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="48"
				height="48"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="icon icon-tabler icons-tabler-outline icon-tabler-list-details">
				<path stroke="none" d="M0 0h24v24H0z" fill="none" />
				<path d="M13 5h8" />
				<path d="M13 9h5" />
				<path d="M13 15h8" />
				<path d="M13 19h5" />
				<path
					d="M3 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
				<path
					d="M3 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
			</svg>
			Wells score for DVT
		</h2>
		<div class="underline"></div>

		<div class="wrapper">
			<p>
				Calculate the risk of deep vein thrombosis based on patient's
				clinical criteria.
			</p>
		</div>

		<div class="wrapper">
			<ul class="list-group rounded-0 mb-3">
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check1" />
					<label class="form-check-label" for="check1">
						Active cancer (Treated or diagnosed within the last 6
						months)
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check2" />
					<label class="form-check-label" for="check2">
						Paralysis, paresis or recent immobilization of the lower
						limb in a cast
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check3" />
					<label class="form-check-label" for="check3">
						Bedridden for more than 3 days or major surgery in the
						last 4 weeks
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check4" />
					<label class="form-check-label" for="check4">
						Local pain in the course of the deep veins of the lower
						limb <b>*</b>
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check5" />
					<label class="form-check-label" for="check5">
						Entire leg swollen <b>*</b>
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check6" />
					<label class="form-check-label" for="check6">
						Calf swelling more than 3 cm compared to the other leg
						(Measured 10 cm below the tibial tuberosity) <b>*</b>
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check7" />
					<label class="form-check-label" for="check7">
						Pitting edema (Larger on the symptomatic limb) <b>*</b>
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check8" />
					<label class="form-check-label" for="check8">
						Visible superficial collateral veins (Non-varicose)
						<b>*</b>
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="1"
						id="check9" />
					<label class="form-check-label" for="check9">
						Previously documented DVT
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>+1</span
						>
					</label>
				</li>
				<li
					class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom d-flex align-items-center ps-0">
					<input
						class="form-check-input me-3"
						type="checkbox"
						value="-2"
						id="check10" />
					<label class="form-check-label" for="check10">
						Other diagnosis as or more likely than DVT
						<span class="badge rounded-pill text-bg-secondary ms-1"
							>-2</span
						>
					</label>
				</li>
			</ul>
			<p>
				<b>*</b> - If symptoms are present in both lower extremities,
				the limb with more severe symptoms should be assessed
			</p>
		</div>
		<div class="wrapper">
			<p>Score: <span id="score">0</span></p>
			<p>DVT risk: <span id="risk">Low</span></p>
		</div>
		<div class="wrapper">
			<p>Recommendation:</p>
			<p id="recommendation">
				Determine D-dimer. If negative, rule out DVT. If positive,
				perform CUS of the proximal veins or the entire venous system.
			</p>
		</div>

		<div class="favorite-wrapper mb-5">
			<a href="/favorite?type=WellsScoreDVT" class="add-to-favorite"
				><svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="currentColor"
					class="icon icon-tabler icons-tabler-filled icon-tabler-star">
					<path stroke="none" d="M0 0h24v24H0z" fill="none" />
					<path
						d="M8.243 7.34l-6.38 .925l-.113 .023a1 1 0 0 0 -.44 1.684l4.622 4.499l-1.09 6.355l-.013 .11a1 1 0 0 0 1.464 .944l5.706 -3l5.693 3l.1 .046a1 1 0 0 0 1.352 -1.1l-1.091 -6.355l4.624 -4.5l.078 -.085a1 1 0 0 0 -.633 -1.62l-6.38 -.926l-2.852 -5.78a1 1 0 0 0 -1.794 0l-2.853 5.78z" />
				</svg>
				Add to favorites</a
			>
		</div>
	</div>
</section>

{% endblock %} {% block script %}

<script>
	const allCheckboxes = [
		...document.getElementsByClassName('form-check-input'),
	];
	const riskSpan = document.getElementById('risk');
	const recommendationParagraf = document.getElementById('recommendation');

	function calculateRisk() {
		// Read number of points (assigned by a function in main.js)
		let calculatedPoints = document.getElementById('score').innerHTML;
		let calculatedRisk = '';
		let recommendation = '';

		// Assign risk and recommendation by the amount of points
		if (calculatedPoints <= 0) {
			calculatedRisk = 'Low';
			recommendation =
				'Determine D-dimer. If negative, rule out DVT. If positive, perform CUS of the proximal veins or the entire venous system.';
		} else if (calculatedPoints <= 2) {
			calculatedRisk = 'Moderate';
			recommendation =
				'Determine D-dimer. If negative, rule out DVT. If positive, perform CUS of the proximal veins or the entire venous system.';
		} else {
			calculatedRisk = 'High';
			recommendation =
				'Perform CUS of the proximal veins or the entire venous system.';
		}
		riskSpan.innerHTML = calculatedRisk;
		recommendationParagraf.innerHTML = recommendation;
	}

	// Run the function whenever one of the values is changed
	allCheckboxes.forEach(function (checkbox) {
		checkbox.addEventListener('change', calculateRisk);
	});
</script>

{% endblock %}
